# Servidor
PORT=3001
SECRET_KEY=minierp_secret_key_super_secure

# Base de Datos (MySQL)
# Railway proporciona estas variables automáticamente
MYSQLHOST=localhost
MYSQLUSER=root
MYSQLPASSWORD=
MYSQLDATABASE=erp_db
MYSQLPORT=3306
